.container{
    max-width: 95%;
}

.cursor_pointer{
    cursor:pointer;
}

.full_wrap{
    min-height: 100vh;
}

mat-form-field{
    width:100%;
}

:host ::ng-deep .mat-form-field-infix{
    padding: 8px 5px;
}

.header{
    display:flex;
    justify-content: center;
    padding:10px 0px;
    h1{
        margin-left:8px;
    }
    span{
        margin-top:3px;
    }
}

.order_details_full{
    .customar_dropdown{
        width:100%;
    }
}

.user_section{
    display:flex;
    button{
        height: 38px;
        margin-top: 3px;
        margin-left: 2%;
        width: 16%;
        font-size: 12px;
        padding: 0px;
    }
    .user{
        width:82%;
    }
}

.all_order{
    padding-left:0px;
    padding-right:0px;
}

.last_column{
    position:relative
}
.add_button{
    position:absolute;
    top:3px;
    right:3px;
    background:#f3f3f3;
    padding: 0px 11px;
    font-size: 14px;
}
.mony_calculation{
    float:right;
    .order_btn{
        margin-top: 15px;
        background: #f3f3f3;
    }
}

.add_item_header{
    background: #e8f7da;
}

.order_header{
    background-color: #bdbcbc;
}

