<section class="full_wrap">
    <section class="header container-fluid">
        <span class="material-icons">
            api
        </span>
        <h1>Order Management</h1>
    </section>

    <section class="order_details_full container">
        <div class="row">
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="user_section">
                            <div class="user">
                                <mat-form-field class="customar_dropdown" appearance="outline">
                                    <mat-label>Customar</mat-label>
                                    <mat-select>
                                        <mat-option *ngFor="let cus of allcustomar" [value]="cus._id">
                                            {{cus.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <button mat-raised-button (click)="createUser()">Add User</button>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Payment Method</mat-label>
                            <mat-select>
                                <mat-option value="BKASH">
                                    BKASH
                                </mat-option>
                                <mat-option>
                                    ROKET
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <h4><b>Product List : </b></h4>
                <table class="table">
                    <thead class="add_item_header">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Price</th>
                            <th scope="col" class="last_column">
                                Total
                                <button class="add_button" mat-raised-button type='button' (click)="addProduct()">Add
                                    Product</button>
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                            <td>@mdo</td>
                        </tr>
                    </tbody>
                </table>
                <div class="mony_calculation">
                    <p class="sub_total"><b>Sub Total :</b> ৳ 0</p>
                    <p class="vat"><b>Vat :</b> ৳ 0</p>
                    <p class="total"><b>Total :</b> ৳ 0</p>

                    <button class="order_btn" mat-raised-button (click)="orderCreated()">Order Placed</button>
                </div>

            </div>
            <div class="col-sm-4 all_order">
                <h4><b>Total Order :</b></h4>
                <table class="table table-striped">
                    <thead class="order_header">
                        <tr>
                            <th scope="col">Order Id</th>
                            <th scope="col">Customar Name</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="cursor_pointer" (click)="showOrderDetails()">
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</section>