.header{
    display:flex;
    justify-content: space-between;
    h2{
        margin-top:5px;
    }
}

.mat-form-field{
    width:100%;
}

._product_add_btn{
    margin-top:15px;
    float:right;
}
._form_dbl{
    margin:10px 0px;
}